* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Sofia", sans-serif;
    font-size: 3vmin;
    color: #701bdf;
    background-color:  #c4c1e0;
    text-align: center;
  }
  
  .container {
    height: 70vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
  }
  
  .box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem #7c73e6;
    font-size: 8vmin;
    color: #7c73e6;
    background-color: #f2f2f4;
  }
  
  #reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#7c73e6;
    color: #efeff1;
    border-radius: 1rem;
    border: none;
  }
  
  #new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #9452eb;
    color: #e4e3e9;
    border-radius: 1rem;
    border: none;
  }
  
  #msg {
    font-family: 'Courier New', monospace;
    color: #9452eb;
    font-size: 5vmin;
  }
  
  .msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  
  .hide {
    display: none;
  }

  footer{
    font-size: 100%;
    margin: 0;
  }